@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: #fde1d5;
    margin: 0;
    padding: 0;
}

.main{
    margin-top: 10vh;           /* was 100px */
    background-color: #ba4146;
    height: 70vh;
    width: 150vh;
    border-radius: 0.8vh;       /* was 8px */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.hr-container {
    display: flex;
    gap: 1.667vh;
    justify-content: center;
    margin-top: 3vh; /* was -5.556px */
}

.hr {
    
    border: none;
    height: 0.111vh;
    background-color: black;
    width: 180px;
    margin: 0.056vh; /* was 0.556px */
}

#formTwo{
    background-color: #fde1d5;
}

.pictures{
    transition-duration: 0.4s;
    width: 170px;
    height: 170px;
    display: grid;
    border-radius: 3.333vh;
    align-items: center;
    
    object-fit: cover;
}

.pictures:hover{
    width: 180px;   /* was 200px */
    height: 180px;  /* was 200px */
    transition-duration: 0.4s;
}

#pictures{
    margin-left: 2vh;
    display: grid;
    grid-template-columns: repeat(4, 170px); /* 4 תמונות בשורה */
    grid-template-rows: repeat(2, auto);   /* 2 שורות */
    gap: 3vh;
    justify-items: center;
    align-items: center;
    margin-top: 4.5vh;
}

.picContainer{
    width: 1200px; /* was 1000px */
}

#uploadBtn{
    transition-duration: 0.3s;
    padding: 0.7px;     /* was 7px */
    text-align: center;
    background-color: #fde1d5;
    border-radius: 2vh; /* was 20px */
    margin-top: -265px;  /* was -300px */
    height: 170px;       /* was 180px */
    width: 170px;        /* was 180px */
    margin-left: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "Outfit", sans-serif;
}

#uploadBtn:hover{
    transition-duration: 0.3s;
    height: 180px; /* was 190px */
    width: 180px;  /* was 190px */
}

#imageUpload{
    margin-left: 9vh; /* was 90px */
}

#pics_place{
    margin-top:60px;
}