body{
    background-image: url("../images/room-example2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#closet{
    position: relative;
    top: 150px;
    left: 51%;
    width: 400px;
}

#bed{
    position: relative;
    top: 260px;
    left: -4%;
    width: 450px;
}

#desk{
    position: relative;
    top: 430px;
    left: -7%;
    width: 700px;
}

#posters{
    position: relative;
    top: -250px;
    left: 13%;
    width: 300px;
}