body{
    background-image: url("../images/room-example.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#closet{
    position: relative;
    top: 8vh;        /* was 80px */
    left: 55%;
    width: 23vh;     /* was 230px */
}

#bed{
    position: relative;
    top: 24vh;       /* was 240px */
    left: 10%;
    width: 40vh;     /* was 400px */
}

#desk{
    position: relative;
    top: 35vh;       /* was 350px */
    left: 18%;
    width: 45vh;     /* was 450px */
}

#posters{
    position: relative;
    top: -10vh;      /* was -100px */
    left: -57%;
    width: 25vh;     /* was 250px */
}

button{
    width: 0.5vh;    /* was 5px */
    height: 0.5vh;   /* was 5px */
}
