body{
    background-image: url("../images/room-example.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#closet{
    position: relative;
    top: 80px;
    left: 55%;
    width: 230px;
}

#bed{
    position: relative;
    top: 240px;
    left: 10%;
    width:400px;
}

#desk{
    position: relative;
    top: 350px;
    left: 18%;
    width: 450px;
}

#posters{
    position: relative;
    top: -100px;
    left: -57%;
    width: 250px;
}