body{
    background-image: url("../images/room-example2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#closet{
    position: relative;
    top: 200px;
    left: 56%;
    width: 400px;
}

#bed{
    position: relative;
    top: 290px;
    left: -1%;
    width: 450px;
}

#desk{
    position: relative;
    top: 500px;
    left: 5%;
    width: 700px;
}

#posters{
    position: relative;
    top: -450px;
    left: 15%;
    width: 300px;
}

#chair{
    position: relative;
    top: -150px;
    left: 27%;
    width: 300px;
}