@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: #ba4146;
}
.main{
    background-color: #fde1d5;
    height:   85vh;
    width: 155vh;
    border-radius: 8px;
     position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center; /* כל התוכן מתחיל מהחלק העליון */
}

.hr-container {
    display: flex;   
    gap:15px;    
    justify-content: center;
    margin-top: -50px;
}

#lineOne{
    background-color: #ba4146;
}
.hr {
  border: none; 
  height: 1px;
  background-color: black;         
  width: 150px;            
    margin: 5px;
}

#formTwo{
    background-color: #ba4146;
}

.pictures{
    transition-duration: 0.4s;
    width:190px;
    height:190px;
    display: grid;
    border-radius: 30px;
    align-items: center;
}
 .pictures:hover{
    width:200px;
    height:200px;
    transition-duration: 0.4s;
 }


#pictures{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:30px;
    margin-left:-20px;
    justify-content: center;
    margin-top:45px;
}

.picContainer{
    width:1000px;
}

#uploadBtn{
    transition-duration: 0.3s;
    padding:7px;
    text-align: center;
    background-color: darkgray;
    border-radius: 20px;
    margin-top:-300px;
    height:180px;
    width:180px;
    margin-left:922px;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; 
    border:none;
}

#uploadBtn:hover{
    transition-duration: 0.3s;
    height:190px;
    width:190px;    
}

#imageUpload{
    margin-left:90px;
}

h1{
    font-family: "BBH Hegarty", sans-serif;
    font-size: 50px;
    margin-top:60px;
    margin-bottom:10px;
    text-align: center;
    color:#ba4146
}
.font{
    font-family: "Outfit", sans-serif;
    color:#ba4146
}
#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}