@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: #fde1d5;
    color: #ba4146;
}
h1{
    font-family: "BBH Hegarty", sans-serif;
    font-size: 80px;
}

p{
  font-family: "Outfit", sans-serif;
    font-size: 22px;
}

#changingText {
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
}

#container {
  width:900px
  
}