body{
    background-color:  #ba4146;
    margin: 0;
    padding: 0;
}
.main{
    margin-top: 7vh;
    background-color: #fde1d5;
    height:   70vh;
    width: 110vh;
    border-radius: 10px;

     position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: flex-start; /* כל התוכן מתחיל מהחלק העליון */
    
}
.logo{
    height: 20vh;
    width: 20vh;
    margin-left: 2vh;
    margin-top: -3vh;
}
.hr-container {
    display: flex;           /* עכשיו בשורה */
    gap: 15px;               /* רווח בין הקווים */
    justify-content: center; 
    margin-top: -50px; /* מזיז את הקווים למעלה */
    
    
}
.hr {
  border: none;            /* מבטל גבול רגיל */
  height: 1px;             /* עובי הקו */
  background-color: black; /* צבע הקו */
  width: 150px;              /* רוחב הקו */
  margin: 5px;       /* רווח ואמצע */
}
   .header {
    display: flex;
    align-items: center;           
    justify-content: space-between; 
    height: 90px;
    padding: 0;                    /* אין padding מצדדים */
    background: linear-gradient(to bottom, #ba4146 0%, #9e3139 100%);
    border-radius: 0;
    box-sizing: border-box;
}

.header .logo img {
    height: 80px;
    display: block;
}

.header-right {
    display: flex;
    gap: 20px;                     /* רווח בין הקישורים */
    margin-left: auto;              /* דוחף את הקישורים ימינה */
}

.header-right a {
    color: #fde1d5;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.header-right a:hover {
    background-color: #fde1d5;
    color: #ba4146;
}
.form-container {
    width: 380px;
    margin-left: auto;            /* ⬅️ מצמיד לימין */
    padding: 30px;
    background-color: #fde1d5;
    border-radius: 16px;
    font-family: "Outfit", sans-serif;
}

.form-title {
    text-align: right;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #5a1f25;
}

.styled-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    display: flex;
    flex-direction: colu
   }