<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Lato&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/uploads/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <script src="{{ url_for('static', filename='app.js') }}"></script>
    <title>Document</title>
</head>
<body>
<div id = "header"></div>
  </div>
</div>
<div class="main">
<div class="hr-container"> 
    <hr class="hr" id="lineOne"><hr class="hr" id="lineTwo"><hr class="hr" id="lineThree">
</div>
<br><br>
<h1>Information Form</h1>
    <div class="form-container">
        <form>
<div class="form-container">
        <div class="form-grid">

  <!-- גיל -->
  <div class="input-box">
    <i class="icon">🎂</i>
    <input type="number" id="age" required>
    <label>What is your age?</label>
  </div>

  <!-- צבע -->
  <div class="input-box">
    <i class="icon">🎨</i>
    <select id="color" required>
      <option value="" disabled selected></option>
      <option value="red">pink</option>
      <option value="red">Red</option>
      <option value="orange">Orange</option>
      <option value="yellow">Yellow</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
    <label>Favorite color</label>
  </div>

  <!-- גובה -->
  <div class="input-box">
    <i class="icon">📏</i>
    <input type="number" id="height" required>
    <label>Height (cm)</label>
  </div>

  <!-- מגדר -->
  <div class="radio-box">
    <span class="radio-title">Gender</span>
    <label><input type="radio" name="gender"> Male</label>
    <label><input type="radio" name="gender"> Female</label>
  </div>

</div>

<button type="button" class="btn" onclick="checkAge()">Continue</button>

        </form>
    </div>
    </div>
            <script src="../static/uploads/js/header/header.js"></script>
             <script src="../static/uploads/js/Qpage1.js"></script>
             <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>