<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Lato&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/uploads/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <script src="{{ url_for('static', filename='app.js') }}"></script>
    <title>Document</title>
</head>
<body>
<div class = "header">
      <div class="header">
      <a href="index.html" class="logo"><img src ="../static/uploads/images/logo.png" width="170" height="80"></a>
      <div class="header-right">
          <a href="">Items</a>
          <a  onclick = "quiz()">Your Design Quiz</a>
              </div>
  </div>
</div>
<div class="main">
<div class="hr-container"> 
    <hr class="hr" id="lineOne"><hr class="hr" id="lineTwo"><hr class="hr" id="lineThree">
</div>
<br><br>
<h1>Information Form</h1>
    <div class="form-container">
<form id = "intoform" onsubmit="return checkAge()">
<div class="form-container">
        <div class="form-grid">

  <!-- גיל -->
  <div class="input-box">
    <i class="icon">🎂</i>
    <input type="number" id="age" required>
    <label>What is your age?</label>
  </div>

  <!-- צבע -->
  <div class="input-box">
    <i class="icon">🎨</i>
    <select id="color" required>
      <option value="" disabled selected></option>
      <option value="red">pink</option>
      <option value="red">Red</option>
      <option value="orange">Orange</option>
      <option value="yellow">Yellow</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
    <label>Favorite color</label>
  </div>

  <!-- גובה -->
  <div class="input-box">
    <i class="icon">📏</i>
    <input type="number" id="height" required>
    <label>Height (cm)</label>
  </div>

  <!-- מגדר -->
  <div class="radio-box">
    <span class="radio-title">What Is Your Gender?</span>
    <label><input type="radio" name="gender" value = "male" required> Male</label>
    <label><input type="radio" name="gender" value = "female"> Female</label>
  </div>

   <div class="radio-box">
    <span class="radio-title">Do You Have Any Disability?</span>
    <label><input type="radio" name="disability" value = "No" required> No</label>
    <label><input type="radio" name="disability"  onclick = "showDisabilityDetails()" value = "Yes"> Yes</label>

    <select id="disability" required style = "display: none;">
      <option value="" disabled selected></option>
      <option value="hearing">hearing</option>
      <option value="physical">physical</option>
      <option value="Visual">Visual</option>
      <option value="Emotional">Emotional</option>
    </select>

  </div>
    <button type="submit" class="btn" >Continue</button>

</div>


        </form>
    </div>

    </div>
            <script src="../static/uploads/js/header/header.js"></script>
            <script src="../static/uploads/js/Qpage1.js"></script>
             <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
</body>
</html>