<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models 3d</title>
    <link rel="stylesheet" href="../static/uploads/css/models.css"/>
</head>
<body>
    <a href="https://www.ace.co.il/5702084" target="_blank" ><img id="closet" src="../static/uploads/images/closet.jpg" /></a>
    <img id="bed" src="../static/uploads/images/bed.png"/>
    <img id="desk" src="../static/uploads/images/desk.png"/>
    <img id="posters" src="../static/uploads/images/posters.png"/>
</body>
</html>