<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models 3d</title>
    <link rel="stylesheet" href="../static/uploads/css/models.css"/>
</head>
<body>
    <a href="https://www.ace.co.il/5702084" target="_blank" ><img id="closet" src="../static/uploads/images/closet.jpg" /></a>
    <img id="bed" src="../static/uploads/images/bed.png"/>
    <img id="desk" src="../static/uploads/images/desk.png"/>
    <a target="_blank" href="https://www.amazon.com/Lhoiplme-Pink-Coquette-Aesthetic-Pictures/dp/B0DXBWVY9W/ref=sr_1_5?dib=eyJ2IjoiMSJ9.cg-WissaaVx7HOcxHa6rMzV1lfzRNZd2bnnb9lL-5rr0XlaCDv60XYJUrqeFJNFacyvqfUKUJuq3QnH6-CjHhTPj_gCjxtvv5KBiHBfeYaRzszg4K368FymnhcvY2pERmjEPKiShmQQJKFjMoTXy8V6TqerylbEktjyjdHNx6gW_zaS6vB2j2cxoF-ECxfdStVSfRtUbrJgQyUkzcgNweS69A9mmVTmWj_sMSrCRSjW3T_qCWPifD4FV-LxVHYkQdsLvIelPANi4KedqaJl8Vbi1MCooqd7Ha0PE5l8-qzM.rVFKaza9_Ngyy9-hFhPAjA866EweGL9FWc_GEnIs03k&dib_tag=se&keywords=pink%2Bposter&qid=1765975929&sr=8-5&th=1"><img id="posters" src="../static/uploads/images/posters.png"/></a>
</body>
</html>