<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models2 3d</title>
    <link rel="stylesheet" href="models2.css"/>
</head>
<body>
    <div id = "header"></div>
    <img id="closet" src="img/closet2-removebg-preview.png" />
    <img id="bed" src="img/bed2-removebg-preview.png"/>
    <img id="desk" src="img/desk.png"/>
    <img id="posters" src="img/poster2.png"/>
            <script src="../static/uploads/js/header/header.js"></script>
</body>
</html>