<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models2 3d</title>
    <link rel="stylesheet" href="../static/uploads/css/models2.css"/>
</head>
<body>
    <div id = "header"></div>
    <a href="https://www.ace.co.il/5700046" target="_blank"><img id="closet" src="../static/uploads/images/closet2-removebg-preview.png" /></a>
    <a target="_blank" href="https://www.terrysfabrics.co.uk/products/catherine-lansfield-tie-dye-football-bedding-set-lilac?srsltid=AfmBOoqA1Ga7Ljsf1mZqaP-a4Q9E_KuBVWUrlcY4G55LNhnoUKKHI8wL&variant=43338327064764"><img id="bed" src="../static/uploads/images/bed2-removebg-preview.png"/></a>
    <a target="_blank" href="https://www.amazon.se/-/en/SIBBEN-VALFRED-Childrens-Chair-White/dp/B0BW8V3R3F"><img id="desk" src="../static/uploads/images/desk2.png"/></a>
    <a target="_blank" href="https://www.amazon.com/dp/B0B5V26CJC/ref=sspa_dk_detail_3?pd_rd_i=B0B5V26CJC&pd_rd_w=qUivX&content-id=amzn1.sym.7446a9d1-25fe-4460-b135-a60336bad2c9&pf_rd_p=7446a9d1-25fe-4460-b135-a60336bad2c9&pf_rd_r=6P0AC10K61AYVDJ9RCC8&pd_rd_wg=RD6qv&pd_rd_r=a26e20be-fdbf-42d3-9506-cf61196f49c5&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw&th=1"><img id="posters" src="../static/uploads/images/poster2.png"/></a>
    <img id="chair" src="../static/uploads/images/image-removebg-preview (2).png"/>
</body>
</html>